{% extends 'base.html' %}
{% load staticfiles i18n competitions_extras %}

{% block main %}
<paper-header-panel drawer>
          <paper-toolbar><div>Application</div></paper-toolbar>
          <div> Drawer content... </div>
       </paper-header-panel>

       <paper-drawer-panel drawer force-narrow right-drawer>
           <paper-header-panel drawer>
               <paper-toolbar>
                  <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                  <div>Title</div>
               </paper-toolbar>
               <div> drawer2 content... </div>
          </paper-header-panel>

          <paper-header-panel>
               <paper-toolbar>
                  <paper-icon-button icon="menu-vert" paper-drawer-toggle></paper-icon-button>
               </paper-toolbar>
               <div> main content
               </div>
         </paper-header-panel>
       </paper-drawer-panel>
       {% endblock main%}