<div class="row categories">
      <div class="col s3">
          <a class="flow-text center-align modalBtns waves-effect waves-light btn modal-trigger" href="#music">
          <span>Music</span>
          </a>
      </div>
      <div class="col s3">
          <a class="flow-text center-align modalBtns waves-effect waves-light btn modal-trigger" href="#dance">
          <span>Dance</span>
          </a>
      </div>
      <div class="col s3">
          <a class="flow-text center-align modalBtns waves-effect waves-light btn modal-trigger" href="#photo">
          <span>Photo</span>
          </a>
      </div>
      <div class="col s3">
          <a class="flow-text center-align modalBtns waves-effect waves-light btn modal-trigger" href="#fasion">
          <span>Fasion</span>
          </a>
      </div>
</div>

     <div id="music" class="modal">
     <div class="modal-content">
         <div class="row">
      <div class="col s12">
          <h4>Music</h4>
        <ul class="tabs">

          <li class="tab col s3"><a class="active" href="#m1"><span class="mdl-badge" data-badge="4">OnGoing</span></a></li>
          <li class="tab col s3"><a href="#m2"><span class="mdl-badge" data-badge="2">UpComing</span></a></li>
          <li class="tab col s3"><a href="#m3"><span class="mdl-badge" data-badge="0">Past Events</span></a></li>
        </ul>
      </div>
      <div id="m1" class="col s12">Test 1</div>
      <div id="m2" class="col s12">Test 2</div>
      <div id="m3" class="col s12">Test 4</div>
    </div>
     </div>
     <div class="modal-footer">
       <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
     </div>
   </div>
   <div id="dance" class="modal">
   <div class="modal-content">
       <div class="row">
    <div class="col s12">
        <h4>Dance</h4>
      <ul class="tabs">
        <li class="tab col s3"><a href="#d1">OnGoing</a></li>
        <li class="tab col s3"><a class="active" href="#d2">UpComing</a></li>
        <li class="tab col s3"><a href="#d3">Past Events</a></li>
      </ul>
    </div>
    <div id="d1" class="col s12">Test 1</div>
    <div id="d2" class="col s12">Test 2</div>
    <div id="d3" class="col s12">Test 4</div>
  </div>
   </div>
   <div class="modal-footer">
     <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
   </div>
 </div>
 <div id="photo" class="modal">
 <div class="modal-content">
     <div class="row">
  <div class="col s12">
      <h4>Photo</h4>
    <ul class="tabs">
      <li class="tab col s3"><a href="#p1">OnGoing</a></li>
      <li class="tab col s3"><a class="active" href="#p2">UpComing</a></li>
      <li class="tab col s3"><a href="#p3">Past Events</a></li>
    </ul>
  </div>
  <div id="p1" class="col s12">Test 1</div>
  <div id="p2" class="col s12">Test 2</div>
  <div id="p3" class="col s12">Test 4</div>
</div>
 </div>
 <div class="modal-footer">
   <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
 </div>
</div>
<div id="fasion" class="modal">
<div class="modal-content">
    <div class="row">
 <div class="col s12">
     <h4>Fasion</h4>
   <ul class="tabs">
     <li class="tab col s3"><a href="#f1">OnGoing</a></li>
     <li class="tab col s3"><a class="active" href="#f2">UpComing</a></li>
     <li class="tab col s3"><a href="#f3">Past Events</a></li>
   </ul>
 </div>
 <div id="f1" class="col s12">Test 1</div>
 <div id="f2" class="col s12">Test 2</div>
 <div id="f3" class="col s12">Test 4</div>
</div>
</div>
<div class="modal-footer">
  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
</div>
</div>
