<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
<img src="http://fakeimg.pl/240x64/3f4ebc/">
  <header class="demo-drawer-header">

    <div class="demo-avatar-dropdown">
        <img src="http://fakeimg.pl/48/" class="demo-avatar">
      <span>hello@example.com</span>
      <div class="mdl-layout-spacer"></div>
      <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons" role="presentation">arrow_drop_down</i>
        <span class="visuallyhidden">Accounts</span>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
        <li class="mdl-menu__item"><a href="#" id="tt2" ><i class="material-icons">settings</i>Settings</a></li>
        <li class="mdl-menu__item"><a href="#" id="tt3" ><i class="material-icons">power_settings_new</i>Log out</a></li>
      </ul>
    </div>
  </header>
  <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
    <!-- <a class="mdl-navigation__link" href="home.html"><i class="mdl-color-text--blue-grey-400 fa fa-2x fa-users" role="presentation" style="margin-right:20px;"></i>Talent Feed</a> -->
    <!-- <a class="mdl-navigation__link" href="competitions.html"><i class="mdl-color-text--blue-grey-400 fa fa-2x fa-flag-checkered" role="presentation" style="margin-right:20px;"></i>Competitions</a> -->
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 fa fa-2x fa-graduation-cap" role="presentation" style="margin-right:20px;"></i>Tutorials (soon)</a>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 fa fa-2x fa-shopping-cart" role="presentation" style="margin-right:20px;"></i>Hire Talent (soon)</a>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 fa fa-2x fa-user" role="presentation" style="margin-right:20px;"></i>My Portfolio (soon)</a>


      <!-- <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone"><a href="#" id="tt1" ><span class="material-icons mdl-badge" data-badge="1">message</span></a>
          <div class="mdl-tooltip" for="tt1">
          Follow
          </div>
        </div>
      </div> -->
  </nav>
</div>
