//= templates/header.html

//= templates/sidebar.html

<main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content">
        <div class="mdl-cell mdl-cell--4-col">
            <a href="" class="modalBtns mdl-cell mdl-cell--12-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored modal__trigger" data-modal="#modal_music">
                <span>Music</span>
              </a>
            <div id="modal_music" class="modal modal__bg">
                <div class="modal__dialog">
                    <div class="modal__content">
                        <div class="modal__header">
                            <div class="modal__title">
                                <h2 class="modal__title-text">Music</h2>
                            </div>
                            <span class="  material-icons  modal__close"></span>
                        </div>
                        <div class="modal__text">
                            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                                <div class="mdl-tabs__tab-bar">
                                    <a href="#starks-panel" class="mdl-tabs__tab is-active"><span class="mdl-badge" data-badge="4">OnGoing</span>
</a>
                                    <a href="#lannisters-panel" class="mdl-tabs__tab"><span class="mdl-badge" data-badge="2">UpComing</span>
</a>
                                    <a href="#targaryens-panel" class="mdl-tabs__tab"><span class="mdl-badge" data-badge="0">Past Events</span>
</a>
                                </div>

                                <div class="mdl-tabs__panel is-active" id="starks-panel">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, amet.</p>
                                </div>
                                <div class="mdl-tabs__panel" id="lannisters-panel">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, amet.</p>

                                </div>
                                <div class="mdl-tabs__panel" id="targaryens-panel">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, amet.</p>

                                </div>
                            </div>
                        </div>

                        <div class="modal__footer">
                            <a class="mdl-button mdl-button--colored mdl-js-button  modal__close">
                Close
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--4-col">
            <a href="" class="modalBtns mdl-cell mdl-cell--12-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored modal__trigger" data-modal="#modal_photos">
                <span>Photos</span>
              </a>
            <div id="modal_photos" class="modal modal__bg">
                <div class="modal__dialog">
                    <div class="modal__content">
                        <div class="modal__header">
                            <div class="modal__title">
                                <h2 class="modal__title-text">Photos</h2>
                            </div>
                            <span class="  material-icons  modal__close"></span>
                        </div>
                        <div class="modal__text">
                            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                                <div class="mdl-tabs__tab-bar">
                                    <a href="#starks-panel" class="mdl-tabs__tab is-active"><span class="mdl-badge" data-badge="4">OnGoing</span>
</a>
                                    <a href="#lannisters-panel" class="mdl-tabs__tab"><span class="mdl-badge" data-badge="2">UpComing</span>
</a>
                                    <a href="#targaryens-panel" class="mdl-tabs__tab"><span class="mdl-badge" data-badge="0">Past Events</span>
</a>
                                </div>

                                <div class="mdl-tabs__panel is-active" id="starks-panel">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, amet.</p>
                                </div>
                                <div class="mdl-tabs__panel" id="lannisters-panel">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, amet.</p>

                                </div>
                                <div class="mdl-tabs__panel" id="targaryens-panel">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, amet.</p>

                                </div>
                            </div>
                        </div>

                        <div class="modal__footer">
                            <a class="mdl-button mdl-button--colored mdl-js-button  modal__close">
                Close
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <a href="" class="modalBtns mdl-cell mdl-cell--12-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored modal__trigger" data-modal="#modal_dance">
                <span>Dances</span>
              </a>
            <div id="modal_dance" class="modal modal__bg">
                <div class="modal__dialog">
                    <div class="modal__content">
                        <div class="modal__header">
                            <div class="modal__title">
                                <h2 class="modal__title-text">Dances</h2>
                            </div>
                            <span class="  material-icons  modal__close"></span>
                        </div>
                        <div class="modal__text">
                            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                                <div class="mdl-tabs__tab-bar">
                                    <a href="#starks-panel" class="mdl-tabs__tab is-active"><span class="mdl-badge" data-badge="4">OnGoing</span>
</a>
                                    <a href="#lannisters-panel" class="mdl-tabs__tab"><span class="mdl-badge" data-badge="2">UpComing</span>
</a>
                                    <a href="#targaryens-panel" class="mdl-tabs__tab"><span class="mdl-badge" data-badge="0">Past Events</span>
</a>
                                </div>

                                <div class="mdl-tabs__panel is-active" id="starks-panel">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, amet.</p>
                                </div>
                                <div class="mdl-tabs__panel" id="lannisters-panel">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, amet.</p>

                                </div>
                                <div class="mdl-tabs__panel" id="targaryens-panel">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, amet.</p>

                                </div>
                            </div>
                        </div>

                        <div class="modal__footer">
                            <a class="mdl-button mdl-button--colored mdl-js-button  modal__close">
                Close
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</main>




//= templates/footer.html
